/* 
    Created on : Dec 13, 2013, 4:18:17 PM
    Author     : Marijn
*/

html, body {
    background-color: #1e1e1e;
    margin:0;
    padding:0;
    height:100%;
    font-family: Calibri;
    background-image: url("../images/wood.jpg");

}

#container {
    position: relative; /* Zelfde positie op pagina maar centreer het (dmv margin) ipv links */
    min-height:100%; /* volledige hoogte */
    width: 1000px; /* breedte pagina */
    margin-left: auto; /*centreer container*/
    margin-right: auto;
    margin-top: 15px; /* 15px boven header leeglaten */
    background-color: whitesmoke; /* container achtergrondkleur (lichtgrijs) */
    border-radius: 10px; /* afronding container */
    box-shadow: 25px 0px 25px -25px #000000, -25px 0px 25px -25px #000000; /* rechts | links shadow border */
}

header {
    height: 120px;
}

/*display of avatar*/
img.avatar {
    max-height: 250px;
    width: 150px;
}

.user_menu {
    visibility: hidden;
}

#page {
    padding: 10px;
    padding-bottom: 3em;
}

section {
    margin-right: 10px;
    width: 754px;
    float: left;
    padding: 5px;
    border: solid #25903b;
    border-radius: 10px;
    margin-bottom: 10px;
}

#twitter {
    width: 200px;
    float: left;
}

/*.island{
    width: 754px;
    float: left;
    padding: 5px;
    border: solid #25903b;
    border-radius: 10px;
    margin-bottom: 10px;
 }*/

/*vaste hoogte en breedte omdat de timeline langer duurt om in te laden,
hiermee voorkomen we dat de pagina verschuift als de timeline klaar is*/
#twitter-timeline {
    min-height: 500px;
    width: 100%;
}

footer {
    position: absolute;
    text-align: center;
    bottom:0;
    width: 100%;
    height: 3em;
}

.error {
    color: red;
    font-weight: bold;
}

/* Dit dient om textfields en passwordfiels in IE even lang te maken */
input {
    font-family: sans-serif; 
}

article{
    padding: 1em;
    text-align: left;
}

/*displays cursor 'hand' when hovering over title island to indicate toggle*/
h2.toggle{
    cursor: pointer;
    background: #25903b;
    font-size: 1em;
    text-transform: uppercase;
    color: lightgray;
    margin:0;
    padding-left: 10px;
    font-weight:normal;
}



article p:first-child{
    text-align: right;
}

#logo {
    margin: 10px;
    position: absolute;
}

nav {
    width: 100%;
    float: right;
    padding: 0;
    background-color: #25903b;
}

nav ul {
    list-style: none;
    width: 820px;
    margin: 0 auto;
    padding: 0;
}

nav ul li {
    float: left;
}

nav a:link, nav a:visited, #search, #searchSubmit {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #25903b;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

#search, #searchSubmit {
    font-family: Calibri;
    font-size: medium;
    border: none;
    width: 90px;
    float: left;
}

#searchSubmit {
    cursor: pointer;
    background-color: black;
    width: 30px;
}

nav a:hover, nav a:active, nav a:focus, #search {
    background-color: #2EC446;
}

.login_menu {
    width: auto;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    padding: 0;
}

.login_menu ul {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.login_menu ul li {
    float: left;
}

.login_menu a:link, .login_menu a:visited {
    display: block;
    width: 80px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #25903b;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.login_menu a:hover, .login_menu a:active, .login_menu a:focus {
    background-color: #2EC446;
}

.user_menu {
    width: auto;
    margin: 20px;
    float: right;
    padding: 0;
}

.user_menu ul {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.user_menu ul li {
    float: left;
}

.user_menu a:link, .user_menu a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #25903b;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.user_menu a:hover, .user_menu a:active, .user_menu a:focus {
    background-color: #2EC446;
}

table {
    width: 100%;
    border-spacing: 0px;
}

tr.alt {
    background-color: white;
}

tr {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.02);
}