/* 
    Created on : Dec 13, 2013, 4:18:17 PM
    Author     : Marijn
*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Calibri, sans-serif;
    /* Background, color in case image does not load */
    background: #1e1e1e url("../images/wood_medium.jpg");
}

/* Container div contains entire page: Header / Page / Footer */
#container {
    /* Push footer to end, fill screen */
    min-height: 100%;
    position: relative;
    /* Width visible-page */
    width: 1000px;
    /* Center page */
    margin-left: auto;
    margin-right: auto;
    /* Keep 15px empty above header */
    margin-top: 15px;
    /* Container background */
    background-color: whitesmoke;
    /* Style round borders */
    border-radius: 10px;
    /* right | left shadow border */
    box-shadow: 25px 0 25px -25px #000000, -25px 0 25px -25px #000000;
}

.clear {
    clear: both;
}

/* Header tag contains: Logo / User_menu / Nav */
header {
    /* Fixed height header */
    height: 120px;
}

/* Logo in Header */
#logo {
    /* Space from container */
    margin-top: 10px;
    margin-left: 10px;
    /* Absolute to overflow nav-container */
    position: absolute;
}

/* Main-menu */
nav {
    /* Full width parent: container */
    width: 100%;
    /* Fill from right side, eventually leaving empty space for logo to overflow */
    float: right;
    /* padding: 0; */
    /* Background color dark green */
    background-color: #25903b;
}

/* List in Main-menu */
nav ul {
    /* Remove bullets */
    list-style: none;
    /* 1000 - 820 = 180 left for search field and logo space */
    width: 820px;
    margin: 0 auto;
    padding: 0;
}

/* Items list in Main-menu */
nav ul li {
    /* Fill List from left */
    float: left;
}

/* Main-menu items layout */
nav a:link, nav a:visited, #search, #searchSubmit {
    display: block;
    /* For menu-links, search and searchSubmit will get custom width */
    /* 6 (items) * 120 (width)= 720 */
    width: 120px;
    font-weight: bold;
    color: #FFFFFF; /* No problemo in IE as usual */
    /* Fuck up in Chrome / Firefox */
    background-color: #25903b;
    text-align: center;
    padding: 5px;
    /* Remove a-tag decoration */
    text-decoration: none;
}

#search, #searchSubmit {
    font-family: Calibri, sans-serif;
    font-size: medium;
    border: none;
    /* searchSubmit will override */
    width: 90px;
    float: left;
}

#searchSubmit {
    cursor: pointer;
    background-color: black;
    width: 30px;
}

/* Our main-menu is now: 6*120 + 8*10 (padding) + 1*90 + 1*30 = 920px
   Leaving 80px for our logo (82px wide), small overlap with first block:   'Startpagina'
*/

nav a:hover, nav a:active, nav a:focus, #search {
    background-color: #2EC446;
}

/* User_menu is either login/register buttons or 'Hallo' + username-button */
.user_menu {
    /* Takes as much width as children need (variates based on logged in or not) */
    width: auto;
    /* Keep 10px from top parent: container and 20px from side */
    margin-top: 10px;
    margin-right: 20px;
    /* Start at right side parent: container */
    float: right;
    /*padding: 0;*/
}

/* List User_menu */
.user_menu ul {
    /* No bullets */
    list-style: none;
    /*width: 100%;*/
    margin: 0 auto;
    /*padding: 0;*/
}

/* Items List User_menu */
.user_menu ul li {
    /* Place items (links) next to eachother */
    float: left;
}

/* Style items = links */
.user_menu a:link, .user_menu a:visited {
    display: block;
    /* When long username, auto grow */
    min-width: 80px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #25903b;
    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
    text-decoration: none;
}

.user_menu a:hover, .user_menu a:active, .user_menu a:focus {
    background-color: #2EC446;
}

/* Fade & Light work together for creating a 'css-popup' */
#fade {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1001;
    /*-moz-opacity: 0.7;*/
    opacity: .70;
    /*filter: alpha(opacity=70);*/
}

#light {
    display: none;
    position: absolute;
    top: 140px;
    right: 30px;
    width: 150px;
    height: 75px;
    margin-left: -150px;
    margin-top: -100px;
    background: #CCC;
    z-index: 1002;
    overflow: visible;
}

#light a:link, #light a:visited {
    float: left;
    display: block;
    width: 150px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #25903b;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

#light a:hover, #light a:active, #light a:focus {
    background-color: #2EC446;
}

/* Container page includes section = pagecontent / aside = Event-calendar + Twitter-timeline */
#page {
    /* Page width = 1000 - 20 = 980 */
    /* Keep off 10px from left/right side container */
    margin-left: 10px;
    margin-right: 10px;
    /* Keep off 3em = height footer */
    padding-bottom: 3em;
}

/* Contains one or more articles = page-content */
section {
    /* Section width = #page - aside (200) - margin-right (10) = 770 */
    /* Gap between articles and aside */
    margin-right: 10px;
    width: 770px;
    float: left;
}

/* Contains page-content */
article {
    border: solid 3px #25903b;
    border-radius: 10px;
    margin-bottom: 10px;
}

.content {
    padding: 10px;
}

/* Contains Event-calendar / Twitter timeline */
aside {
    width: 200px;
    float: left;
}

footer {
    /* Push footer to end, bottom: 0 */
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    /* Height = #page margin-bottom */
    height: 3em;
}