/* 
    Created on : Dec 13, 2013, 4:18:17 PM
    Author     : Marijn
*/
/*display of avatar*/
img.avatar {
    max-height: 250px;
    width: 150px;
}

header {
    background-color:pink;
    border-top-right-radius: inherit; /* afronding bovenhoek */
    border-top-left-radius: inherit; /* afronding bovenhoek */
}

.user_menu {
    visibility: hidden;
}

.error{
    color: red;
    font-weight: bold;
}

html, body {
    background-color: whitesmoke;
    margin:0;
    padding:0;
    height:100%;
    font-family: Calibri;

}

#container {
    position:relative; /* Zelfde positie op pagina maar centreer het (dmv margin) ipv links */
    min-height:100%; /* volledige hoogte */
    width: 1000px; /* breedte pagina */
    margin-left: auto; /*centreer container*/
    margin-right: auto;
    margin-top: 15px; /* 15px boven header leeglaten */
    background-color: #cccccc; /* container achtergrondkleur (lichtgrijs) */
    border-radius: 10px; /* afronding container */ 
    box-shadow: 25px 0px 25px -25px #000000, -25px 0px 25px -25px #000000; /* rechts | links shadow border */
}



footer {
    text-align: center;
    position:absolute;
    background: yellow;
    bottom:0;
    width:100%;
    height:3em;
    border-bottom-right-radius:inherit; /* afronding onderhoek */
    border-bottom-left-radius:inherit; /* afronding onderhoek */

}

/* Dit dient om textfields en passwordfiels in IE even lang te maken */
input {
    font-family: sans-serif; 
}

/*vaste hoogte en breedte omdat de timeline langer duurt om in te laden,
hiermee voorkomen we dat de pagina verschuift als de timeline klaar is*/
#twitter-timeline {
    height: 500px;
    width: 200px;
}

#twitter{
    float:left;
    right: 800px;
}

article{
    padding: 1em;
    text-align: left;
}

/*displays cursor 'hand' when hovering over title island to indicate toggle*/
h2.toggle{
    cursor: pointer;
    background: #25903b;
    font-size: 1em;
    text-transform: uppercase;
    color: lightgray;
    margin:0;
    padding-left: 10px;
    font-weight:normal;
}

.island{
    float: left;
    margin: 10px;
    border: solid #25903b;
    border-radius: 10px;

    /*position: absolute;*/
    left:0px;
    width: 800px;
}

article p:first-child{
    text-align: right;
}

