/*
 * Author: Marijn
 * Created on: 08/01/2014
 * References: none
 */

/*display of avatar*/
img.avatar {
    max-height: 250px;
    width: 150px;
    border: solid 1px black;
}

/*display of thumbmail*/
img.avatarThumbmail {
    height: 40px;
    width: 40px;
    border-radius: 7px;
}

.error {
    color: red;
    font-weight: bold;
}

/* Make textfiels and passwordfiels same length in Internet Explorer */
input, textarea {
    font-family: Calibri, sans-serif;
}

h2 {
    background-color: #25903b;
    font-size: 1em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    padding-left: 10px;
    font-weight: normal;
}

.toggle {
    /*displays cursor 'hand' when hovering over title island to indicate toggle*/
    cursor: pointer;
}

article .right {
    margin: 5px;
    text-align: right;
}

table {
    width: 100%;
    border-spacing: 0;
}

tr.alt {
    background-color: rgba(0, 0, 0, 0.03);
}

tr {
    padding: 10px;
}

td.forum {
    min-height: 7em;
}

.rowBlock {

}

/* table for forms */
.form {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.form td {
    vertical-align: top;
}

.form .right {
    text-align: right;
}

.submit, .blackLink:link, .blackLink:visited {
    cursor: pointer;
    margin: 0.5em 0 0.5em 0.5em;
    display: inline-block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #25903b;
    text-align: center;
    padding: 5px;
    /* Remove a-tag decoration */
    text-decoration: none;
}

.submit {
    font-family: Calibri, sans-serif;
    font-size: medium;
    border: none;
}

.submit:hover, .submit:active, .submit:focus {
    background-color: #2EC446;
}

.blackLink:link, .blackLink:visited {
    background-color: black;
}

.blackLink:hover, .blackLink:active, .blackLink:focus {
    background-color: #747474;
}

.divBox {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
}

.title {
    font-size: 1.5em;
}

.pageLink:link, .pageLink:visited {
    color: #25903b;
}

.pageLink:hover, .pageLink:active, .pageLink:focus {
    color: #2EC446;
}